* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/*======== Common ========*/
a {
    text-decoration: none;
}

.main-content {
    width: 117rem;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    min-width: 186px;
    padding: 25px 0;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 14px;
    background: var(--primary-color);
}

.btn:hover {
    opacity: 0.9;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
}

/*======== Header ========*/
.header {
    padding-top: 40px;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.header .nav {
    margin-left: auto;
}

.header .nav .list {
    display: flex;
}

.header .nav .item a,
.header .sign-in-btn a {
    margin-left: 31px;
    color: #2f3a3b;
    font-size: 1.6rem;
    padding: 4px;
}

.header .nav .item a:hover,
.header .sign-in-btn a:hover {
    font-weight: 600;
}

.header .action {
    display: flex;
    align-items: center;
}

.header .sign-in-btn {
    margin-left: 169px;
}

.header .sign-up-btn {
    margin-left: 24px;
    min-width: 108px;
    padding: 14px 0;
    background: #fff;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
}

.header .sign-up-btn a {
    color: var(--primary-color);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

/*======== Hero ========*/
.hero {
    padding: 40px 0 79px;
}

.hero .body {
    display: flex;
    align-items: center;
}

.hero .content {
    width: 46%;
}

.hero .content .label {
    color: #767e7e;
    font-size: 1.4rem;
}

.hero .content .title {
    margin-top: 18px;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
}

.hero .content .desc {
    max-width: 374px;
    margin-top: 46px;
    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 1.78;
}

.hero .content .row {
    display: flex;
    margin-top: 52px;
}

.hero .content .play {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #fff;
    margin-left: 50px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .content .play:hover {
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
}

.hero .media-block {
    width: 54%;
    position: relative;
}

.hero .media-block .media {
    width: 57.6rem;
    margin-left: auto;
    object-fit: cover;
}

.hero .blog-top-media {
    position: absolute;
    left: 25px;
    bottom: 407px;
    display: flex;
    align-items: center;
    padding: 17px 25px 18px;
    max-width: 157px;
    border-radius: 18px;
    background: #fefefd;
}

.hero .blog-top-media:hover {
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .blog-top-media .book {
    position: relative;
    width: 36px;
    height: 40px;
    border-radius: 5px 2px 2px 5px;
    background: #ff8282;
}

.hero .blog-top-media .book::before {
    content: "";
    display: inline-block;
    width: 28px;
    height: 4px;
    background: #fff;
    position: absolute;
    left: 4px;
    bottom: 8px;
    border-radius: 999px;
}

.hero .blog-top-media span {
    padding-left: 16px;
    color: #0d1111;
    width: 55px;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.hero .blog-left-media {
    position: absolute;
    left: 0;
    bottom: 46px;
    width: 124px;
    border-radius: 24px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 25px 23px;
}

.hero .blog-left-media:hover {
    box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .blog-left-media span {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.hero .blog-left-media .icon-1 {
    margin-top: 16px;
}

.hero .blog-left-media .icon-2 {
    margin-top: 12px;
}

.hero .blog-left-media .icon-3 {
    margin-top: 10px;
}

.hero .blog-left-media .icon-4 {
    margin-top: 16px;
}

.hero .blog-right-media {
    position: absolute;
    right: 45px;
    bottom: 41px;
    width: 207px;
    border-radius: 24px;
    background: #fefefd;
    display: flex;
    flex-direction: column;
    padding: 17px 35px;
}

.hero .blog-right-media:hover {
    box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .blog-right-media span {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .blog-right-media .avatar-media {
    display: flex;
    margin-top: 8px;
}

.hero .blog-right-media .avatar {
    margin-left: -7px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .blog-right-media .avatar:first-child {
    margin-left: 0;
}

.hero .blog-right-media .avatar:last-child {
    background: #1ebfc1;
}

/*======== Features ========*/
.features {
    padding: 30px 0;
    margin-top: 100px;
}

.features .blog-top .label {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.features .blog-top .title {
    margin-top: 18px;
    max-width: 577px;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33;
}

.features .blog-top .desc {
    margin-top: 18px;
    max-width: 590px;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 1.4;
}

.features .blog-bot {
    margin-top: 80px;
    display: flex;
}

.features .blog-bot .card {
    display: flex;
    flex-direction: column;
}

.features .card:nth-child(2) {
    margin-left: 209px;
}

.features .card:nth-child(3) {
    margin-left: 200px;
}

.features .card a:hover {
    opacity: 0.9;
}

.features .card img {
    width: 102px;
    height: 106px;
}

.features .card .label {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
}

.features .card .desc {
    margin-top: 16px;
    max-width: 168px;
    color: #9da6a5;
    line-height: 1.69;
}

.features .card:nth-child(2) .desc {
    max-width: 223px;
}

.features .card:nth-child(3) .desc {
    max-width: 224px;
}

/*======== Popular ========*/
.popular {
    padding: 30px 0;
    margin-top: 70px;
}

.popular .blog-top .label {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}

.popular .blog-top .title {
    margin-top: 18px;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
}

.popular .blog-top .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .row .desc {
    margin-top: 19px;
    max-width: 525px;
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 1.78;
}

.popular .row .action {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration-line: underline;
}

.popular .blog-bot {
    margin-top: 79px;
    display: flex;
    gap: 47px;
}

.popular .card {
    position: relative;
    border-radius: 8px;
    height: 517px;
}

.popular .card img {
    max-width: 359px;
    max-height: 393px;
    border-radius: 8px;
    object-fit: cover;
}

.popular .card img:hover {
    opacity: 0.35;
    background: #d0efed;
}

.popular .card .block {
    position: absolute;
    width: 325px;
    bottom: 0;
    margin: 0 17px;
    padding: 18px 25px 29px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.05);
}

.popular .block .sub-title {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
    padding-bottom: 11px;
}

.popular .block .cost {
    display: inline-block;
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
    padding-bottom: 11px;
}

.popular .block .cost span {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}

.popular .block .desc {
    margin: 6px 0 18px;
    color: #9da6a5;
    font-size: 1.4rem;
    padding-bottom: 7px;
}

.popular .block .row {
    display: flex;
}

.popular .block .row .label {
    display: flex;
    align-items: center;
    color: #9da6a5;
    font-size: 1.4rem;
    margin-right: 10px;
}

.popular .block .row .label::before {
    display: inline-block;
    content: "";
    margin-right: 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
}

/*======== Data ========*/
.data {
    padding: 30px 0;
    margin-top: 205px;
}

.data-list {
    width: 862px;
    display: flex;
    gap: 200px;
    margin-left: auto;
    margin-right: auto;
}

.data-item {
    display: flex;
    flex-direction: column;
}

.data-item .number {
    color: #0d1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
}

.data-item .label {
    margin-top: 11px;
    color: #767e7e;
    text-align: center;
    font-size: 1.8rem;
}
